Pandas Series
---

Numpy array has data with an index. When dealing with real world data we want to be able to interpret the index. The difference between an array and a Series is that the latter can have a named index that you can call directly from the named index. People think better in categories and names than random index numbers.

Let's explore how to operate series in Pandas.

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Let's create a couple of python objects

In [5]:
labels = ['a', 'b', 'c']

In [6]:
# Creat a list

mylist = [10,20,30]

In [8]:
# Create a umpy array

arr = np.array(mylist)
arr

array([10, 20, 30])

In [13]:
# Create a simple dictionary

d = {'a': 10, 'b': 20, 'c':30}
d.keys()
d.values()

dict_values([10, 20, 30])

In [15]:
pd.Series(data=mylist) # it automatically shows the index associated with the data

0    10
1    20
2    30
dtype: int64

In [16]:
pd.Series(arr) # it automatically shows the index associated with the data

0    10
1    20
2    30
dtype: int64

In [17]:
pd.Series(data=mylist, index=labels)

a    10
b    20
c    30
dtype: int64

Using the Pandas index in a realistic scenario

In [19]:
ser1 = pd.Series([1,2,3,4], index=['US', 'Germany', 'USSR', 'Japan'])
ser1

US         1
Germany    2
USSR       3
Japan      4
dtype: int64

In [20]:
ser2 = pd.Series([1, 4, 5, 6], index=['US', 'Germany', 'Italy', 'Japan'])
ser2

US         1
Germany    4
Italy      5
Japan      6
dtype: int64

In [22]:
# Grab sereies one and add it to series two. Pandas will perform the operation off the named index

ser1 + ser2 # Everything turns to floating point

Germany     6.0
Italy       NaN
Japan      10.0
US          2.0
USSR        NaN
dtype: float64